
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                <label>Enter the Name</label>
            </td>
            <td>
                <input type="text" id="uname" name="uname" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Enter Password</label>
            </td>
            <td>
                <input type="text" id="uname" name="uname" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Conform Password</label>
            </td>
            <td>
                <input type="text" id="uname" name="uname" />
            </td>
        </tr>

    </table>
</body>
</html>
