
@{
    ViewData["Title"] = "Contactus";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactus</title>
    <h2> Contact Us </h2>> 
</head>
<body>
</body>
</html>
