
@{
        ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
 
</head>
<body>
    <p> @ViewBag.Id</p>

    <p> @ViewBag.Name</p>

    <p> @ViewBag.Price</p>
</body>
</html>
